$primaryColor : rgb(201,144,93);
$primaryColor-1 : rgba(201, 143, 93, 0.8);
$primaryColor-2 : rgba(201, 143, 93, 0.6);
$primaryColor-3 : rgba(201, 143, 93, 0.4);
$primaryColor-4 : rgba(201, 143, 93, 0.2);
$primaryColor-5 : rgba(201, 143, 93, 0.1);
$primaryColor-6 : rgba(201, 143, 93, 0.05);

$primaryBrightColor: rgb(255, 119, 0);
$primaryBrightColor-1 : rgba(255, 119, 0, 0.8);
$primaryBrightColor-2 : rgba(255, 119, 0, 0.6);
$primaryBrightColor-3 : rgba(255, 119, 0, 0.4);
$primaryBrightColor-4 : rgba(255, 119, 0, 0.2);
$primaryBrightColor-5 : rgba(255, 119, 0, 0.1);
$primaryBrightColor-6 : rgba(255, 119, 0, 0.05);
$primaryBrightColor-7 : rgba(255, 119, 0, 0.02);


$primaryColorDark : rgb(54, 30, 8);
$primaryColorDark-1 : rgba(54, 30, 8, 0.8);
$primaryColorDark-2 : rgba(54, 30, 8, 0.6);
